* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeContainer {
  display: flex;
  flex-direction: column;
}
/* listmusic */
.menu {
  color: white;
  padding: 10px 30px 10px 20px;
}
.menuContainer {
  margin-bottom: 30px;
}
.menuTitle {
  margin-bottom: 30px;
}
.menuOption {
  display: flex;
  justify-content: space-between;
}
.option1 {
  display: flex;
  /* background-color: red; */
}
.option1 p {
  margin-right: 50px;
  padding: 3px 30px;
  border-radius: 40px;
  border: 0.5px solid gray;
  opacity: 0.7;
}
.option1 p:hover {
  border: 0.5px solid #9b59b6;
  background-color: #9b59b6;
  cursor: pointer;
  opacity: 1;
}
.option2 {
  color: gray;
  cursor: pointer;
  opacity: 0.7;
}
.option2:hover {
  color: white;
  cursor: pointer;
}

.listSong {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 20px;
}
.song {
  display: flex;
  flex-wrap: wrap;
  color: white;
  cursor: pointer;
  max-width: 480px;
  padding: 9px;
  border-radius: 4px;
}
.song:hover {
  background-color: rgba(89, 79, 104, 0.8);
}
.menuTitle {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 4px;
}
.containers {
  padding-left: 10px;
}
.containers div {
  color: gray;
}
.singer {
  color: white;
  text-decoration: none;
}
.containers .singer:hover {
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
h5 {
  margin-bottom: 0px !important;
}
